@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #303841;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #f6c90e;
  border-radius: 80px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d3ab0d;
  border-radius: 80px;
}